{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blood Bank Management System</title>
    <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/fav.jpg">

    <link href="{% static "assets/css/bootstrap.min.css" %}"rel="stylesheet" media="all">
    <link href="{% static "assets/css/fontawsom-all.min.css" %}"rel="stylesheet" media="all">
    <link href="{% static "assets/plugins/grid-gallery/css/grid-gallery.min.css" %}"rel="stylesheet" media="all">
    <link href="{% static "assets/css/style.css" %}"rel="stylesheet" media="all">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
 
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="{% static "css/main.css" %}"rel="stylesheet" media="all">
    <style>

    </style>
  </head>
  <body>
     <header class="continer-fluid ">
             {% include "./includes/headerTop.html" %}
          
        </header>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <br><br><br>
            <div class="card card-5"> 
                <div class="card-heading">
                    <h2 class="title">Signup</h2>
                </div>
                {% for message in messages %}
    
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
                 {{ message }}
    </div>

                {% endfor %}
                <div class="card-body">
                    <form method="POST" >
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="text" name="email" class="input--style-5" id="" placeholder="enter email">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="text" name="username" class="input--style-5" id="" placeholder="enter username">
                                  
                                </div>
                            </div>
                        </div>
  
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="text" name="password" class="input--style-5" id="" placeholder="enter password">
                             
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Confirm Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input type="text" name="cpassword" class="input--style-5" id="" placeholder="enter password to comfirm">
                             
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn--radius-2 btn-danger btn-block" type="submit">Signup</button>
                        </div>
                    </form>
                    <br>
                    <p style="text-align: center;">have an account? <a style="text-decoration: none;" href="/login">Login Now</a></p>

                </div>
            </div>
        </div>
    </div>

{% include "./includes/footer.html" %}
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
