{% extends './master.html' %}
{% block content %}
<br><br>
<div class="container">

    <div class="row">
       
      </div>
<hr>
    <div class="row">
      
      {% comment %} <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                      <i class="fas fa-spinner" style="color:#efb000;"></i>
                  </div><br>
                  <div>
                      Total Requests <br>
                     {{totalrequest}}
                  </div>                            
              </div>
            </div>
      </div> {% endcomment %}
     
        <!--/* <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                      <i class="fas fa-tint xyz" style="color:#d41010;"></i>
                  </div><br>
                  <div>
                      Total Blood Unit (ml) <br>
                      {{totalbloodunit}}
                  </div>                            
              </div>
            </div>
        </div> */-->

        <div class="col-sm-3">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="far fa-check-circle" style="color:green;"></i>
                    </div><br>
                    <div>
                        Approved Requests <br>
                        {{totalapprovedrequest}}
                    </div>                            
                </div>
              </div>
          </div>
    </div>
</div>


{% endblock content %}
